@charset "utf-8";

/* CSS Document */

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/HelveticaNeue.ttf");
}

@font-face {
  font-family: "HelveticaNeueLt";
  src: url("../fonts/helvetica/HelveticaNeueLt.ttf");
}

body {
  line-height: 1.5;
	font-family: "Helvetica";
  background: #333;
	overflow: hidden;
}


/************************************************************ GENERAL ****/

a {
  text-decoration: none;
}

h1,
h2 {
  position: absolute;
	width: 100%;
  bottom: 0;
	text-align: center;
  font-family: "Helvetica";
  font-size: 60px;
	margin: 0;
}

h2 {
  font-size: 40px;
  color: #27ae60;
}

h1 {
	color: #fff;
	bottom: 40px;
}

strong {
  font-family: "HelveticaNeueLt";
}


/************************************************************ FEATURE FOOTER ****/

footer {
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
}


/************************************************************ LOADER ELEMENT ****/

.loadeer {
	position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 280px;
}

.jera-loader {
  position: absolute;
	top:  0;
  left: 50%;
  margin: 0 0 0 -81px;
  width: 103px;
  height: 103px;
  transform: rotateZ(45deg);
}

.jera-loader .item {
  position: relative;
  transform: rotateZ(45deg);
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.jera-loader .item-c1 {
  width: 50%;
  height: 20%;
  left: 26px;
}

.jera-loader .item-c2 {
  width: 50%;
  height: 16%;
  top: 66px;
}

.jera-loader .item-c3 {
  width: 50%;
  height: 16%;
  top: 60px;
  left: 124px;
}

.jera-loader .item-c4 {
  width: 50%;
  height: 20%;
  left: -30px;
  top: -10px;
  z-index: 9;
}

.jera-loader .item-c1:before {
  background: #28854c;
}

.jera-loader .item-c2:before {
  background: #32ac61;
}

.jera-loader .item-c3:before {
  background: #28854c;
}

.jera-loader .item-c4:before {
  background: #32ac61;
}

.jera-loader .item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  animation: cssload-fold-thecube 4.76s infinite linear both;
  transform-origin: 100% 100%;
}

.jera-loader .item-c1 {
  transform: scale(1.4) perspective(3px) rotateX(2deg);
  transform-origin: bottom left;
}

.jera-loader .item-c2 {
  transform: scale(1.0) rotateZ(90deg) perspective(3px) rotateX(3deg);
  transform-origin: top right;
}

.jera-loader .item-c3 {
  transform: scale(1.0) rotateZ(180deg) perspective(3px) rotateX(3deg);
  transform-origin: top left;
}

.jera-loader .item-c4 {
  transform: scale(1.4) rotateZ(270deg) perspective(3px) rotateX(4deg);
  transform-origin: bottom right;
}

.jera-loader .item-c2:before {
  animation-delay: 0.35s;
}

.jera-loader .item-c3:before {
  /*animation-delay: 0.69s;*/
  animation-delay: 1.04s;
}

.jera-loader .item-c4:before {
  /*animation-delay: 1.04s;*/
  animation-delay: 0.69s;
}

@keyframes cssload-fold-thecube {
  0%,
  10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
  0%,
  10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {
  0%,
  10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {
  0%,
  10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
